Source: ros-indigo-turtlebot-concert
Section: misc
Priority: extra
Maintainer: Jihoon Lee <jihoonlee.in@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/turtlebot_concert
Standards-Version: 3.9.2

Package: ros-indigo-turtlebot-concert
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-concert-master, ros-indigo-concert-service-admin, ros-indigo-concert-service-indoor-2d-map-prep, ros-indigo-concert-service-teleop
Description: A solution for multi TurtleBot teloperation and navigation which can be used in a lab.
